In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('../input/suicides.csv')

In [5]:
data_clean=data.copy()

In [6]:
display(data_clean.isnull().sum())

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [7]:
columnstodelete=['HDI for year','country-year']

In [8]:
def delete_columns(dataframe,lista):
    for i in lista:
        dataframe.drop([i], axis=1, inplace = True)

In [9]:
delete_columns(data_clean,columnstodelete)

In [10]:
data_clean.to_csv('../output/Data_clean.csv', index=False)

In [28]:
data_clean.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [126]:
def delete_rows(dataframe,lista):
    for i in lista:
        dataframe.drop([i], axis=0, inplace = True)

In [133]:
def delete_rows_excluding(dataframe,column,condition):
    dataframe=dataframe[dataframe[column] != condition]
    return dataframe

In [35]:
def filteryear(dataframe,year):
    return dataframe[dataframe['year']>year]

In [11]:
import requests

In [88]:
def apiimportlanguage(dataframe,url):
    languages={}
    countries = list(set(dataframe['country']))
    try:
        for i in range(len(countries)):
            countries[i]=countries[i].replace(' ','%20')
        for i in countries[1:]:
            res= requests.get(url+i)
            dev=res.json()
            languages.update({i.replace('%20',' '):dev[0]['languages'][0]['name']})
    except: print('Country not found!')
    return languages

In [89]:
dataframe=data_clean
url='https://restcountries.eu/rest/v2/name/'

In [90]:
a = apiimport(dataframe,url)

In [92]:
def apiimportregion(dataframe,url):
    regions={}
    countries = list(set(dataframe['country']))
    try:
        for i in range(len(countries)):
            countries[i]=countries[i].replace(' ','%20')
        for i in countries[1:]:
            res= requests.get(url+i)
            dev=res.json()
            languages.update({i.replace('%20',' '):dev[0]['region']})
    except: print('Country not found!')
    return regions

In [93]:
b = apiimportregion(dataframe,url)

In [ ]:
for i in range(len(data_clean[0])):
    data_clean['language'][i]=languages[data_clean['country']]

In [136]:
data_clean = delete_rows_excluding(data_clean,'country','Saint Vincent and Grenadines')

In [137]:
data_clean[data_clean['country']=='Saint Vincent and Grenadines']

Empty DataFrame
Columns: [country, year, sex, age, suicides_no, population, suicides/100k pop,  gdp_for_year ($) , gdp_per_capita ($), generation]
Index: []

In [125]:
rawsdelete = data_clean['country']=='Saint Vincent and Grenadines'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
27790    False
27791    False
27792    False
27793    False
27794    False
27795    False
27796    False
27797    False
27798    False
27799    False
27800    False
27801    False
27802    False
27803    False
27804    False
27805    False
27806    False
27807    False
27808    False
27809    False
27810    False
27811    False
27812    False
27813    False
27814    False
27815    False
27816    False
27817    False
27818    False
27819    False
Name: country, Length: 27820, dtype: bool