In [73]:
import pandas as pd
import numpy as np
import requests

In [74]:
import acquisition
import clean
import importing

## Reading file

In [75]:
data=acquisition.open_file('../input/suicides.csv')

In [76]:
data_clean=data.copy()

In [77]:
print(data_clean['country'].dtype)

object

## Cleaning data

def delete_columns(dataframe,lista):
    for i in lista:
        dataframe.drop([i], axis=1, inplace = True)

In [78]:
def delete_rows(dataframe,lista):
    for i in lista:
        dataframe.drop([i], axis=0, inplace = True)

def delete_rows_excluding(dataframe,column,condition):
    dataframe=dataframe[dataframe[column] != condition]
    dataframe.reset_index(drop=True)
    return dataframe

columnstodelete=['HDI for year','country-year']

In [79]:
clean.delete_columns(data_clean,['HDI for year','country-year'])

In [80]:
data_clean.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [40]:
#data_clean = clean.delete_rows_excluding(data_clean,'country','Saint Vincent and Grenadines')

In [41]:
#data_clean = clean.resetindex(data_clean)

In [81]:
rows = data_clean.loc[data_clean['country']=='Saint Vincent and Grenadines']

In [82]:
rowsind = list(rows.index)
#data_clean= delete_rows(data_clean,rowsind)
rowsind

[21632,
 21633,
 21634,
 21635,
 21636,
 21637,
 21638,
 21639,
 21640,
 21641,
 21642,
 21643,
 21644,
 21645,
 21646,
 21647,
 21648,
 21649,
 21650,
 21651,
 21652,
 21653,
 21654,
 21655,
 21656,
 21657,
 21658,
 21659,
 21660,
 21661,
 21662,
 21663,
 21664,
 21665,
 21666,
 21667,
 21668,
 21669,
 21670,
 21671,
 21672,
 21673,
 21674,
 21675,
 21676,
 21677,
 21678,
 21679,
 21680,
 21681,
 21682,
 21683,
 21684,
 21685,
 21686,
 21687,
 21688,
 21689,
 21690,
 21691,
 21692,
 21693,
 21694,
 21695,
 21696,
 21697,
 21698,
 21699,
 21700,
 21701,
 21702,
 21703,
 21704,
 21705,
 21706,
 21707,
 21708,
 21709,
 21710,
 21711,
 21712,
 21713,
 21714,
 21715,
 21716,
 21717,
 21718,
 21719,
 21720,
 21721,
 21722,
 21723,
 21724,
 21725,
 21726,
 21727,
 21728,
 21729,
 21730,
 21731,
 21732,
 21733,
 21734,
 21735,
 21736,
 21737,
 21738,
 21739,
 21740,
 21741,
 21742,
 21743,
 21744,
 21745,
 21746,
 21747,
 21748,
 21749,
 21750,
 21751,
 21752,
 21753,
 21754,
 21755,
 21756,
 21757,
 21758,
 21759,
 21760,
 21761,
 21762,
 21763,
 21764,
 21765,
 21766,
 21767,
 21768,
 21769,
 21770,
 21771,
 21772,
 21773,
 21774,
 21775,
 21776,
 21777,
 21778,
 21779,
 21780,
 21781,
 21782,
 21783,
 21784,
 21785,
 21786,
 21787,
 21788,
 21789,
 21790,
 21791,
 21792,
 21793,
 21794,
 21795,
 21796,
 21797,
 21798,
 21799,
 21800,
 21801,
 21802,
 21803,
 21804,
 21805,
 21806,
 21807,
 21808,
 21809,
 21810,
 21811,
 21812,
 21813,
 21814,
 21815,
 21816,
 21817,
 21818,
 21819,
 21820,
 21821,
 21822,
 21823,
 21824,
 21825,
 21826,
 21827,
 21828,
 21829,
 21830,
 21831,
 21832,
 21833,
 21834,
 21835,
 21836,
 21837,
 21838,
 21839,
 21840,
 21841,
 21842,
 21843,
 21844,
 21845,
 21846,
 21847,
 21848,
 21849,
 21850,
 21851,
 21852,
 21853,
 21854,
 21855,
 21856,
 21857,
 21858,
 21859,
 21860,
 21861,
 21862,
 21863,
 21864,
 21865,
 21866,
 21867,
 21868,
 21869,
 21870,
 21871,
 21872,
 21873,
 21874,
 21875,
 21876,
 21877,
 21878,
 21879,
 21880,
 21881,
 21882,
 21883,
 21884,
 21885,
 21886,
 21887,
 21888,
 21889,
 21890,
 21891,
 21892,
 21893,
 21894,
 21895,
 21896,
 21897,
 21898,
 21899,
 21900,
 21901,
 21902,
 21903,
 21904,
 21905,
 21906,
 21907,
 21908,
 21909,
 21910,
 21911,
 21912,
 21913,
 21914,
 21915,
 21916,
 21917,
 21918,
 21919,
 21920,
 21921,
 21922,
 21923,
 21924,
 21925,
 21926,
 21927,
 21928,
 21929,
 21930,
 21931]

In [83]:
for i in rowsind:
    data_clean.drop([i], axis=0, inplace = True)

In [87]:
data_clean

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [10]:
#data_clean.to_csv('../output/Data_clean.csv', index=False)

## Importing from API

In [13]:
print(len(list(set(data_clean['country']))))

100

In [ ]:
def apiimportlanguage(dataframe,url):
    languages={}
    countries = list(set(dataframe['country']))
    try:
        for i in range(len(countries)):
            countries[i]=countries[i].replace(' ','%20')
        for i in countries:
            res= requests.get(url+i)
            dev=res.json()
            languages.update({i.replace('%20',' '):dev[0]['languages'][0]['name']})
    except: print('Country not found!')
    return languages

In [ ]:
def apiimportregion(dataframe,url):
    regions={}
    countries = list(set(dataframe['country']))
    try:
        for i in range(len(countries)):
            countries[i]=countries[i].replace(' ','%20')
        for i in countries:
            res= requests.get(url+i)
            dev=res.json()
            regions.update({i.replace('%20',' '):dev[0]['region']})
    except: print('Country not found!')
    return regions

In [ ]:
len(languages)

In [ ]:
dataframe=data_clean
url='https://restcountries.eu/rest/v2/name/'

In [ ]:
languages = apiimportlanguage(dataframe,url)

In [ ]:
regions = apiimportregion(dataframe,url)

In [ ]:
data_clean[data_clean['country']=='Saint Vincent and Grenadines']

In [ ]:
def generatelist(dataframe,column,dictionary):
    lst=[]
    for i in range(len(dataframe[column])):
        lst.append(dictionary[dataframe[column][i]])
    return lst

In [ ]:
languageslist = generatelist(data_clean,'country',languages)

In [ ]:
regionslist = generatelist(data_clean,'country',regions)

In [ ]:
def add_columns(dataframe,column_name,lista):
    dataframe[column_name]=lista

In [ ]:
add_columns(data_clean,'Language',languageslist)

In [ ]:
add_columns(data_clean,'Region', regionslist)

In [ ]:
data_clean.head()

In [ ]:
def filteryear(dataframe,year):
    return dataframe[dataframe['year']>year]